HAMDOOR.json
[
  {
    "id": "a1-tab",
    "type": "ui_tab",
    "name": "HamDoor",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "a2-group",
    "type": "ui_group",
    "name": "Control & Status",
    "tab": "a1-tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "b0-broker",
    "type": "mqtt-broker",
    "name": "Your MQTT",
    "broker": "public.cloud.shiftr.io",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "m1-mode-switch",
    "type": "ui_switch",
    "z": "flow1",
    "name": "Mode",
    "label": "Mode (ENROLL / DOOR)",
    "tooltip": "",
    "group": "a2-group",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": true,
    "decouple":"false",
    "topic": "",
    "style": "",
    "onvalue": "enroll",
    "onvalueType": "str",
    "onicon": "",
    "oncolor": "",
    "offvalue": "door",
    "offvalueType": "str",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "x": 190,
    "y": 80,
    "wires": [["m2-save-mode","m3-pub-mode"]]
  },
  {
    "id": "m2-save-mode",
    "type": "change",
    "z": "flow1",
    "name": "flow.mode = msg.payload",
    "rules": [{"t":"set","p":"mode","pt":"flow","to":"payload","tot":"msg"}],
    "x": 430,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "m3-pub-mode",
    "type": "mqtt out",
    "z": "flow1",
    "name": "Publish Mode",
    "topic": "HAMDOOR/MODE",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "b0-broker",
    "x": 430,
    "y": 100,
    "wires": []
  },
  {
    "id": "u1-last-uid",
    "type": "ui_text",
    "z": "flow1",
    "group": "a2-group",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Last UID",
    "label": "Last UID",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 430,
    "y": 160,
    "wires": []
  },
  {
    "id": "i1-uid-in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "UID in",
    "topic": "HAMDOOR/UID",
    "qos": "0",
    "datatype": "auto",
    "broker": "b0-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 150,
    "y": 160,
    "wires": [["s1-store-lastuid","u1-last-uid","f1-enroll-if-needed"]]
  },
  {
    "id": "s1-store-lastuid",
    "type": "change",
    "z": "flow1",
    "name": "flow.lastUid = msg.payload",
    "rules": [{"t":"set","p":"lastUid","pt":"flow","to":"payload","tot":"msg"}],
    "x": 440,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "f1-enroll-if-needed",
    "type": "function",
    "z": "flow1",
    "name": "If mode=enroll → ADD",
    "func": "// ถ้าอยู่ในโหมด enroll ให้ส่ง UID ไปเพิ่ม allowlist\nconst mode = flow.get('mode') || 'door';\nif (mode === 'enroll') {\n    const uid = (msg.payload || '').trim();\n    if (uid) {\n        node.status({fill:'green',shape:'dot',text:`ADD ${uid}`});\n        return [{payload: uid}];\n    }\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 240,
    "wires": [["o1-allow-add","n1-toast"]]
  },
  {
    "id": "o1-allow-add",
    "type": "mqtt out",
    "z": "flow1",
    "name": "ALLOWLIST/ADD",
    "topic": "HAMDOOR/CFG/ALLOWLIST/ADD",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "b0-broker",
    "x": 730,
    "y": 240,
    "wires": []
  },
  {
    "id": "n1-toast",
    "type": "ui_toast",
    "z": "flow1",
    "position": "top right",
    "displayTime": "2",
    "highlight":"",
    "outputs": 0,
    "ok":"OK",
    "cancel":"",
    "raw":false,
    "topic":"",
    "name":"Toast Added",
    "x": 730,
    "y": 200,
    "wires":[]
  },
  {
    "id": "u2-btn-add-last",
    "type": "ui_button",
    "z": "flow1",
    "name": "Add Last UID",
    "group": "a2-group",
    "order": 3,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Add Last UID",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 160,
    "y": 300,
    "wires": [["f2-load-lastuid"]]
  },
  {
    "id": "f2-load-lastuid",
    "type": "function",
    "z": "flow1",
    "name": "payload = flow.lastUid",
    "func": "msg.payload = (flow.get('lastUid')||'').trim();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 300,
    "wires": [["o1-allow-add","n1-toast"]]
  },
  {
    "id": "u3-open-btn",
    "type": "ui_button",
    "z": "flow1",
    "name": "Open Door",
    "group": "a2-group",
    "order": 4,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Open Door",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "fa-unlock",
    "payload": "now",
    "payloadType": "str",
    "topic": "",
    "x": 160,
    "y": 360,
    "wires": [["o2-open-cmd"]]
  },
  {
    "id": "o2-open-cmd",
    "type": "mqtt out",
    "z": "flow1",
    "name": "CMD/OPEN",
    "topic": "HAMDOOR/CMD/OPEN",
    "qos": "1",
    "retain": "",
    "broker": "b0-broker",
    "x": 410,
    "y": 360,
    "wires": []
  },
  {
    "id": "u4-door",
    "type": "ui_text",
    "z": "flow1",
    "group": "a2-group",
    "order": 5,
    "width": 3,
    "height": 1,
    "name": "Door",
    "label": "Door",
    "format": "{{msg.payload}}",
    "x": 160,
    "y": 420,
    "wires": []
  },
  {
    "id": "i2-door-in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "Door state",
    "topic": "HAMDOOR/DOOR",
    "qos": "0",
    "datatype": "auto",
    "broker": "b0-broker",
    "x": 430,
    "y": 420,
    "wires": [["u4-door"]]
  },
  {
    "id": "u5-access",
    "type": "ui_text",
    "z": "flow1",
    "group": "a2-group",
    "order": 6,
    "width": 3,
    "height": 1,
    "name": "Access",
    "label": "Access",
    "format": "{{msg.payload}}",
    "x": 160,
    "y": 460,
    "wires": []
  },
  {
    "id": "i3-access-in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "Access in",
    "topic": "HAMDOOR/ACCESS",
    "qos": "0",
    "datatype": "auto",
    "broker": "b0-broker",
    "x": 430,
    "y": 460,
    "wires": [["u5-access"]]
  }
]
